@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

html {
  scroll-behavior: smooth;

}

body {
  background-color: #f3f0e9;
  color: #1c1c2e;
}
